<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
    <add name="connectionStringSource" connectionString="Data Source=AZCDPEPRDSQL02;Initial Catalog=EDP_Data;Integrated Security=true" />
    <add name="connectionStringDestination" connectionString="Data Source=MEPSEMDTEST01;Initial Catalog=Event Measurement Dashboard;Integrated Security=true" />
  </connectionStrings>
  
    <appSettings>
        <add key="XMLFilePath" value="D:\Repository\Event Measurement Dashboard\Src\Console Applications\PreCheckUtility\PreCheckUtility\Data.xml" />
        <add key="MailRecipents" value="ronakb@maqsoftware.com" />
        <add key="CCRecipent" value="ronakb@maqsoftware.com" />
        <add key="FromUserID" value="uscmgsys@microsoft.com" />
        <add key="ClientID" value="12102dfe-d5fb-4269-80e4-61539e8d40dd" /> <!--[SuppressMessage("Microsoft.Security", "CS001:SecretInline", Justification="ClientID")]-->
        <add key="ClientSecret" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3f/z+nTC4kSTrc7LVAbMNAQAAAACAAAAAAADZgAAwAAAABAAAAAM6px8FSqdIVe84/RGvtUwAAAAAASAAACgAAAAEAAAAAQGDCL39cawe5ih9Y3bIgtgAAAAWKh4mWOzexow0rsUgxo5jqL5SU2CeU0uuV9DgKCuGxfZNDxTqhDnkXWj13DQ2HMjHUzUlgk2n7tBn3M6K53Zqy5RTvCjSqoVWjiX2BcCJMxTctJHeacer8ylgYkDGkxhFAAAAJXrdL1joAECXdKFBGJEx2fG71Cp" /> <!--[SuppressMessage("Microsoft.Security", "CS001:SecretInline", Justification="ClientSecret")]-->
        <add key="SecretUrl" value="https://emdvault.vault.azure.net/secrets/USCMGSYS" />
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>